
 :root {
    --offwhite: #F6F1F1;
    --lightblue: #19A7CE;
    --darkblue: #146C94;
    --black: #000000;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {

  background-color: var(--offwhite);
  /* background-image: url(/GroupProject1/Project1-Group-11/assets/london.jpg); */
}

h1 {
  font-size: 80px;
}

.input-field {
  background-color: var(--offwhite);
  align-items: center;
}

#index-banner {
  background-image: url(/GroupProject1/Project1-Group-11/london.jpg);
}

#landing {
  background-color: var(--offwhite);
}

#para {
  background-color: var(--offwhite);
  padding: 10px;
  display: flexbox;
  /* border-radius: 20%; */
}

.container-results {
  background-color: var(--offwhite);
  text-align: center;
  display: flex;
}

#silos {
  width: 100px;
  height: 100px;
}